

.weather-app{
    background-color:#627e75,#d2a985,#226ba3,#e9c429,#913639;
    max-width: 600px;
    margin: 45px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.5);
    border-radius: 16px;
    padding: 30px;
}
.search-input{
    background-color: #f9f7fe;
    border: none;
    border-radius: 6px;
    width: 70%;
    font-size: 16px;
    padding: 15px 20px;
}
.search-button{
    background: #885df1;
    padding: 15px 30px;
    border: none;
    font-size: 16px;
    margin-left: 5px;
    border-radius: 6px;
    color: white;
}
.current-city{
    margin: 0;
    font-size: 35px;
    line-height: 48px;
}
.current-temperature{
    display: flex;
justify-content: end;
}

.current-details{
    font-size: 16px;
    color: rgba(39, 33, 66, 0.4);
    line-height: 24px;
    font-weight: 500;
}
.current-details strong{
    color: red;
}
.current-temperature-icon{
    font-size: 44px;
    margin-top: 22px;
    height: 88px;
    width: 88px;
    position: relative;

}
.current-temperature-value{
    font-size: 80px;
    font-weight: bold;
    margin-left: 10px;
    line-height: 88px;
}
.current-temperature-unit{
    font-size: 25px;
    margin-top: 38px;
    position: relative;
}
.weather-forecast-date{
    text-align: center;
    color: rgba(39, 33, 66, 0.4);
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}
.weather-forecast-icon{
    font-size: 38px;
    text-align: center;
    width: 88px;
    height: 88px;

}
.weather-forecast-temperatures{

    text-align: center;
    color: red;
    margin-top: 10px;
    justify-content: center;
    display: flex;}

.weather-forecast-temperature{
    padding: 0 18px;
}
.weather-forecast{
    justify-content: space-around;
    display: flex;
    margin-top: 30px;

}

